<!DOCTYPE html>
<html>
<head>
    <title>Add Friends</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/add_friends.css') }}"
    />
</head>
<body>
    <h1>Добавить в друзья</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.username }}
                <form method="POST" action="{{ url_for('add_friends') }}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="submit" value="Добавить +">
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
