<!DOCTYPE html>
<html>
<head>
    <title>Add Friends</title>
</head>
<body>
    <h1>Add Friends</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.username }}
                <form method="POST" action="{{ url_for('add_friends') }}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="submit" value="Add Friend">
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
