<!DOCTYPE html>
<html>
  <head>
    <title>Сообщества</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/community.css') }}"
    />
  </head>
  <body>
    <h1>Сообщества</h1>
    <div class="container">
      <div class="community-content">
        <h1>Сообщество: {{ community.name }}</h1>
        {% for post in posts %}
        <p>{{ post.content }}</p>
        {% endfor %}
      </div>
      <div class="links">
        <a href="{{ url_for('create_community') }}">Создать сообщество</a>
      </div>
    </div>
  </body>
</html>
