<!DOCTYPE html>
<html>
  <head>
    <title>Friend Requests</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/friends_requests.css') }}"
    />
  </head>
  <body>
    <h1>Запросы в друзья</h1>
    <ul>
      {% for friend_request in friend_requests %}
      <li>
        <strong>От:</strong> {{ friend_request.sender.username }}<br />
        <a
          href="{{ url_for('handle_friend_request', request_id=friend_request.id, action='accept') }}"
          >Принять</a
        >
        <a
          href="{{ url_for('handle_friend_request', request_id=friend_request.id, action='decline') }}"
          >Откланить</a
        >
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
