<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <h1>Welcome, {{ current_user.username }}!</h1>

    <div class="all-links">
      <a href="{{ url_for('logout') }}">Logout</a>
      <a href="{{ url_for('community_page', community_id=1) }}"
        >Community view</a
      >
      <a href="{{ url_for('send_message', user_id=2) }}">Send Message</a>
      <a href="{{ url_for('create_community') }}">Create Community</a>
      <a href="{{ url_for('add_friends') }}">Add friends</a>
      <a href="{{ url_for('friends') }}">friends</a>
      <a href="{{ url_for('inbox') }}">inbox</a>
      <a href="{{ url_for('friend_requests') }}">friends_requests</a>
    </div>

    <div class="form-news-post">
      <form method="POST" action="{{ url_for('home') }}">
        <textarea
          name="content"
          required
          style="resize: none; width: 500px; height: 140px; margin-bottom: 10px"
        ></textarea>
        <input type="submit" value="Сделать пост" />
      </form>
    </div>

    <div class="po">
      {% for post in posts %}
      <p>{{ post.content }}</p>
      <p>Лайки: {{ post.likes|length }}</p>
      <h3>Комментраии:</h3>
      {% for comment in post.comments %}
      <p>{{ comment.content }}</p>
      {% endfor %} {% endfor %}
    </div>

    <footer>
      <p>&copy; 2024 Connect. All rights reserved.</p>
    </footer>
  </body>
</html>
